.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background: linear-gradient(to bottom, #334b68, #171a21);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

@media (max-width: 1023px) {
  .logo img {
    max-width: 120px; /* Tamaño máximo del logo en dispositivos móviles */
    margin-right: 10px; /* Espacio a la derecha del logo en dispositivos móviles */
  }
}

@media (min-width: 1024px) {
  .logo img {
    max-width: 160px; /* Tamaño máximo del logo en dispositivos desktop */
    margin-right: 20px; /* Espacio a la derecha del logo en dispositivos desktop */
  }
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

nav ul li a:hover {
  text-decoration: underline;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 45px;
  cursor: pointer;
  color: #fff;
}

.nav-links {
  display: flex;
}

.nav-links.show {
  display: block; /* Ocultar la barra de navegación por defecto */
}

/* Media query para dispositivos móviles */
@media (max-width: 1023px) {
  /* Mostrar el botón del menú hamburguesa en dispositivos móviles */
  .burger-menu {
    display: block;
  }

  /* Mostrar la barra de navegación cuando se abre el menú hamburguesa */
  .nav-links {
    display: none;
  }
  /* Estilos para el menú hamburguesa cuando se muestra */
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    z-index: 1000;
    display: flex;
    justify-content: flex-end; /* Alinear el contenido a la derecha */
    transform: translateX(100%); /* Inicialmente oculto fuera de la pantalla */
    transition: transform 0.3s ease-in-out;
  }

  .menu-content {
    width: 75%;
    height: 100%;
    background-color: #334b68;
    padding: 100px 20px;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }

  .menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu-content ul li {
    margin-bottom: 35px;
  }

  .menu-content ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }

  .close-btn {
    position: absolute;
    background: none;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
  }

  /* Deslizar el menú hamburguesa desde la derecha hacia el centro */
  .menu-content.show {
    transform: translateX(0);
  }
}

/* Media query para dispositivos desktop */
@media (min-width: 1024px) {
  .burger-menu {
    display: none;
  }

  .close-btn {
    display: none;
  }

  .menu-overlay {
    display: none;
  }
}
